<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="register.css">
  <title>Document</title>
</head>

<body>
  <h1>Type in a new message!</h1>
  <form action="/new-message" method="post">
    <label for="title">
      Title
      <input type="text" name="title" id="title">
    </label>
    <label for="message"> Your message:</label>
    <textarea name="message" id="message">
    </textarea>
    <button type="submit">Submit</button>
  </form>

</body>

</html>